* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", Geneva, Tahoma, sans-serif;
  background-color: rgb(215, 248, 250);

  color: rgb(46, 45, 45);
  line-height: 1.6;
}

.container {
  /* border: 1px solid rgb(25, 0, 255);
    padding: 15px;
    margin: 15px; */
}

/*==========================
        Header Section
============================*/
.side-header {
  /* border: 1px solid red;
    padding: 15px;
    margin: 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, blue, rgb(0, 183, 255));

  padding: 8px 20px;
}

.brand {
  /* border: 1px solid rgb(225, 0, 255);
    padding: 15px;
    margin: 15px; */

  display: flex;
  align-items: center;
  gap: 20px;

  color: white;
}
.brand-logo {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;

  width: 55px;
  height: 55px;

  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-text h2 {
  font-size: 24px;
}
.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}

/* nav bar */
.main-nav {
  /* border: 1px solid rgb(255, 0, 255);
    padding: 15px;
    margin: 15px; */
}
.nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-list a {
  color: white;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;

  transition: 0.2s;
}
.nav-list a:hover {
  background-color: rgba(240, 248, 255, 0.493);
}
/*==========================
        Main Section
============================*/

.main-layout {
  /* border: 1px solid red;
    padding: 15px;
    margin: 15px; */

  display: grid;
  grid-template-columns: 1fr 390px;

  padding: 20px 22px;
  /* grid-template-columns: 80% 20%; */
}

/* Left Content */
.left-content {
  /* border: 1px solid rgb(4, 0, 255);
    padding: 15px;
    margin: 15px; */
}

.hero {
  /* border: 1px solid rgb(204, 0, 255);
    padding: 15px;
    margin: 15px; */
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  
  background: linear-gradient(90deg, rgb(114, 124, 255), rgb(18, 21, 153));
  
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgb(21, 7, 141);

  align-items: center;
}
.hero-text h1 {
  font-size: 36px;
  color: rgb(0, 0, 68);
  line-height: 1.8;
}
.hero-text p {
  font-size: 22px;
  color: rgb(29, 29, 65);
  font-weight: 600;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(0, 183, 255);
  border-radius: 10px;
  box-shadow: 0 1px 8px rgb(177, 173, 218);

  object-fit: cover;
  /* img {clip-path: circle(50%);
    } ไว้ทำภาพวงกลม*/
  /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}

/* Link Example */
.card {
  border: 1px solid rgb(111, 157, 255);
  background-color: white;
  border-radius: 15px;
  
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgb(21, 7, 141);
  
  margin-top: 20px;
}


.card-header-title{
  /* background-color: blueviolet; */
}
.card-header-title h2{
  color: rgb(0, 0, 68);
}
.card-body-grid{
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 20px;
}

/* กล่อง Link ด้านซ้าย */
.result-panel, .code-panel{
  /* background-color: firebrick; */
  border: 1px solid rgb(111, 157, 255);
  border-radius: 10px;
  
  overflow: hidden;
}
.result-panel-header, .code-panel-header{
  background-color: rgb(154, 219, 236);
  color: rgb(0, 0, 68);
  font-weight: bold;
  padding: 5px 20px;
}

.result-panel-body{
  padding: 5px 20px 15px 20px;
  line-height: 2;
}
.result-panel-body a{
  display: block;
  color: rgb(48, 30, 211);
}
.result-panel-body a:hover{
  color: red;
}

.mail-box{
  background-color: blue;
  border-radius: 5px;
  margin-right: 5px;
}
.back-btn{
  border: 2px solid rgb(48, 30, 211);
  border-radius: 10px ;
  
  display: inline-block !important;
  
  padding: 0px 20px;
  
  text-decoration: none;
}



/* กล่อง Link ด้านขวา */
.code-panel{
  background-color: black;
}
.code-panel-body{
  color: white;
}

.code-list {
  color: white;
  padding: 16px 40px;
}
.code-list li {
  padding: 0px 20px;
}
/* โค๊ด Tag */
.tag{
  color: red;
}
.attr{
  color: rgb(179, 250, 73);
}
.value{
  color: green;
}

/* Image Example */
.result-panel-body-3g{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  align-items: baseline;
  text-align: center;
  font-size: 14px;

  padding: 0px 14px;
}

/* Right SideBar */

.right-sidebar {
  /* border: 1px solid rgb(4, 0, 255); */
  padding: 0px 15px 0px 15px;
  margin: 0px 0px 0px 5px;
}

.side-card {
  border: 1px solid rgb(111, 157, 255);
  background-color: white;
  border-radius: 15px;
  
  padding: 18px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgb(21, 7, 141);
  
  margin-bottom: 15px;
}
/* Card 1 */
.side-card ul{
  list-style: none;
}
.side-card h2 {
  font-weight: bold;
  color: rgb(0, 0, 68);
  margin-bottom: 10px;
}
.side-card li{
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.number{
  background-color: blue;
  border-radius: 50%;

  width: 28px;
  height: 28px;

  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* Card 2 */
.tag-list{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag-border{
  border-radius: 50px;
  padding: 10px 16px;

  font-size: 14px;
  font-weight:500 ;

  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-orange{background-color: rgb(255, 199, 95); color: rgb(150, 97, 0);}
.tag-pink{background-color: pink; color: rgb(153, 59, 75);}
.tag-green{background-color: rgb(83, 207, 83); color: rgb(0, 99, 0);}
.tag-blue{background-color: rgb(96, 96, 255); color: rgb(47, 47, 128);}
.tag-red{background-color: rgb(255, 96, 96); color: rgb(160, 31, 31);}
.tag-yellow{background-color: rgb(255, 255, 119); color: rgb(109, 109, 35);}
.tag-purple{background-color: rgb(146, 87, 146); color: rgb(92, 4, 92);}
.tag-skyblue{background-color: skyblue; color: rgb(57, 98, 114);}


.submit-card {
}

/*==========================
        Footer Section
============================*/
.tip-box {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}
